
{% load static %}

<h1>Asociación del Fútbol Argentino (AFA)</h1>
<img src="{% static 'afa.jpg' %}" alt="" width="100">

<h4>Es el ente rector del fútbol en Argentina, encargado de organizar y regular las distintas selecciones nacionales, y los campeonatos oficiales, en todas las modalidades del deporte del país</h4>

<h2>Fundación📅</h2>
<h4>Fue fundada por Alejandro Watson Hutton en Buenos Aires, el 21 de febrero de 1893, con el nombre de Argentine Association Football League, siendo la más antigua del continente, luego de la extinta Argentine Association Football League de 1891, la que fue disuelta luego de un año de vida y no es reconocida como su predecesora. Tras un proceso de cambio de nombres, fusiones y castellanización, adoptó en 1934 la denominación Asociación del Football Argentino y posteriormente, en 1946, su nombre definitivo. Está afiliada a la FIFA desde 1912 y a la Conmebol, de la que es miembro fundador, desde 1916</h4>

<h2>Presidente👨‍💼</h2>
<h4>El actual presidente de la AFA es Claudio Fabián Tapia. Ejerce el cargo desde el 30 de Marzo de 2017, cuando ganó las elecciones por mayoría absoluta de votos</h4>
<img src="{% static 'chiqui_tapia.avif' %}" alt="" width="150">


<h2>Órganos reguladores📋🖋</h2>
<h4>* La Liga Profesional de Fútbol Argentino: encargada del manejo de la Primera División</h4>
<h4>* La Asamblea: es la reunión a la que se convoca a todos los miembros y constituye la autoridad legislativa. Está integrada por 46 delegados y tiene las atribuciones de aprobar los estatutos y reglamentos, elegir o destituir a los integrantes del Comité Ejecutivo, Comité Electoral y la Comisión Fiscalizadora; aprobar la memoria, los balances y el presupuesto</h4>
<h4>* El Comité Ejecutivo: está integrado por un presidente y 14 miembros titulares que representan a los clubes afiliados. Sus atribuciones principales son: interpretar y hacer cumplir los reglamentos; administrar las afiliaciones de los clubes; administrar la AFA y representarla en asuntos administrativos o judiciales; nombrar árbitros y tomar medidas de acuerdo con las propuestas del Colegio de Árbitros; mantener las relaciones internacionales del fútbol argentino; autorizar o no las transferencias de jugadores</h4>
<h4>* Las comisiones permanentes y especiales: de Finanzas; Organizadora de Competiciones, Técnica y de Desarrollo; de Árbitros; de Asuntos Legales; de Fútbol Femenino; de Fútbol Infantil y Juvenil; de Futsal y Fútbol Playa; del Estatuto del Jugador; de Deportividad, Responsabilidad Social y Sustentabilidad; de Selecciones Nacionales; de Marketing y Televisión</h4>
<h4>* La Dirección General Ejecutiva: a cargo del trabajo administrativo (implementar las decisiones de la Asamblea, supervisar la contabilidad, mantener las relaciones con las demás instituciones y controlar al personal)</h4>
<h4>* Los órganos jurisdiccionales: (Tribunal de Disciplina, Tribunal de Ética y Tribunal de Apelación)</h4>
<h4>* El Órgano de Concesión de Licencias a los Clubes</h4>
<h4>* La Comisión Electoral: responsable de la organización y supervisión de las elecciones</h4>
<h4>* La Comisión Fiscalizadora: a cargo del cumplimento de las finanzas y asuntos legales de los clubes y la propia AFA</h4>
<h4>* El Consejo Federal: tiene a su cargo la conducción del fútbol del interior del país, que cuenta con más de 250 ligas, en las que participan unos 400 000 jugadores de más de 3 500 clubes, a los que se los considera indirectamente afiliados a la AFA. Organiza el Torneo Federal A y el Torneo Regional Federal Amateur, vías de acceso a los campeonatos de las máximas categorías; y las etapas preliminares correspondientes a dichos equipos de la Copa Argentina</h4>

