{% load static %}

<h1>Argentinos Juniors</h1>
<img src="{% static 'Argentinos.png' %}" alt="" width="150">

<h3>Apodos🖋</h3>
<p>El Bicho</p>
<p>El Semillero del Mundo</p>

<h3>Clásico Rival⚔️</h3>
<p>Platense</p>

<h3>Fundación📅</h3>
<p>La Asociación Atlética Argentinos Juniors, mayormente conocida como Argentinos Juniors, es una institución polideportiva fundada el 15 de agosto de 1904 en el barrio de La Paternal, Ciudad Autónoma de Buenos Aires</p>

<h3>Jugadores destacados👤</h3>
<p> Diego Maradona, Fernando Redondo, Juan Román Riquelme, Claudio Borghi, Esteban Cambiasso, Sergio Batista, Juan Pablo Sorín, Fernando Cáceres, Leonel Gancedo, Diego Placente, Nicolás Pareja, Néstor Ortigoza, Lucas Biglia, Lucas Barrios, Federico Insúa, Leonardo Pisculichi, Fabricio Coloccini, Esteban Rolón, Juan Ramírez, Carlos Mac Allister, Alexis Mac Allister y Nicolás González (entre otros)</p>
<p>Por tal motivo, es reconocido tanto por la AFA como por la prensa especializada como el Semillero del Mundo</p>


<h3>Equipaciones🎽</h3>
<!--con DIV hacemos que todas las imágenes se muestren una al lado de la otra-->
<div>
    <img src="{% static 'cami_argentinos.jpg' %}" alt="" width="350">
    <img src="{% static 'cami_argentinos_s.jpg' %}" alt="" width="350">
</div>


<h3>Estadio🏟️</h3>
<p>	Estadio Diego Armando Maradona</p>
<img src="{% static 'estadio_argentinos.jpg' %}" alt="" width="350">

<h3>Goleadores Históricos⚽</h3>
<h5>Héctor Ingunza: 142</h5>
<h5>Diego Maradona: 116</h5>
<h5>Pedro Pasculli: 87</h5>
