{% load static %}

<h1>Arsenal de Sarandí</h1>
<img src="{% static 'Arsenal.png' %}" alt="" width="150">

<h3>Apodos🖋</h3>
<p>El Arse</p>
<p>El Viaducto</p>

<h3>Clásico Rival⚔️</h3>
<p>El Porvenir</p>
<p>Defensa y Justicia</p>

<h3>Fundación📅</h3>
<p>Arsenal Fútbol Club, conocido simplemente como Arsenal o Arsenal de Sarandí, es un club de fútbol argentino que pertenece a la ciudad de Sarandí, en el partido de Avellaneda, provincia de Buenos Aires, fundado el 11 de enero de 1957</p>

<h3>Jugadores destacados👤</h3>
<p> Iván Marcone, Juan Carlos Fernández, Héctor Grondona, Roberto Luque, Gastón Esmerado, Roberto López, Amancio Cid, Darío Espínola, etc</p>


<h3>Equipaciones🎽</h3>
<!--con DIV hacemos que todas las imágenes se muestren una al lado de la otra-->
<div>
    <img src="{% static 'cami_arsenal.webp' %}" alt="" width="350">
    <img src="{% static 'cami_arsenal_s.webp' %}" alt="" width="350">
</div>


<h3>Estadio🏟️</h3>
<p>	Estadio Julio Humberto Grondona</p>
<img src="{% static 'estadio_arsenal.jpg' %}" alt="" width="350">

<h3>Goleadores Históricos⚽</h3>
<h5>Darío Espínola: 423</h5>
<h5>Carlos Ruiz: 400</h5>
<h5>Héctor Grondona: 349</h5>