{% load static %}

<h1>Banfield</h1>
<img src="{% static 'Banfield.png' %}" alt="" width="150">

<h3>Apodos🖋</h3>
<p>El Taladro</p>

<h3>Clásico Rival⚔️</h3>
<p>Lanús</p>

<h3>Fundación📅</h3>
<p>El Club Atlético Banfield es un club de fútbol de Argentina, con sede en la localidad de Banfield, provincia de Buenos Aires. Fue fundado el 21 de enero de 1896 por habitantes de esa ciudad, mayoritariamente de orígenes británicos.</p>

<h3>Jugadores destacados👤</h3>
<p>James Rodríguez, Santiago Silva, Eduardo Silvera, Félix Orte, Javier Sanguinetti, José Luis Sánchez, Javier Zanetti, Darío Cvitanich</p>


<h3>Equipaciones🎽</h3>
<img src="{% static 'cami_banfield.jpg' %}" alt="" width="350">

<h3>Estadio🏟️</h3>
<p>Estadio Florencio Sola</p>
<img src="{% static 'estadio_banfield.jpg' %}" alt="" width="350">

<h3>Goleadores Históricos⚽</h3>
<h5>Gustavo Albella: 136</h5>
<h5>Rafaél Sanz: 81</h5>
<h5>Norberto Raffo: 68</h5>