{% load static %}

<h1>Barracas Central</h1>
<img src="{% static 'Barracas.png' %}" alt="" width="150">

<h3>Apodos🖋</h3>
<p>El Guapo</p>

<h3>Clásico Rival⚔️</h3>
<p>Club Sportivo Barracas</p>

<h3>Fundación📅</h3>
<p>El Club Atlético Barracas Central es un club de fútbol argentino, fundado el 5 de abril de 1904 en el barrio de Barracas en Buenos Aires.</p>

<h3>Jugadores destacados👤</h3>
<p> Gastón Bojanich, Sebastián Gómez, Iván Tapia, Néstor López, Ricardo Cisneros, Alfredo Soriano, Gustavo Bastiani, Lucas Del Rio,etc</p>


<h3>Equipaciones🎽</h3>
<!--con DIV hacemos que todas las imágenes se muestren una al lado de la otra-->
<div>
    <img src="{% static 'cami_barracas.jpg' %}" alt="" width="350">
    <img src="{% static 'cami_barracas2.jpg' %}" alt="" width="350">
    <img src="{% static 'cami_barracas3.jpg' %}" alt="" width="350">

</div>


<h3>Estadio🏟️</h3>
<p>	Estadio Claudio Tapia</p>
<img src="{% static 'estadio_barracas.jpg' %}" alt="" width="350">

<h3>Goleadores Históricos⚽</h3>
<h5>Sebastián Ferraro: 46</h5>
<h5>Juan Steimbach: 45</h5>
<h5>Raúl Altuve: 42</h5>