{% load static %}

<h1>Belgrano</h1>
<img src="{% static 'Belgrano.png' %}" alt="" width="150">

<h3>Apodos🖋</h3>
<p>El Pirata</p>
<p>El Celeste</p>
<p>Los de Alberdi</p>

<h3>Clásico Rival⚔️</h3>
<p>Talleres</p>
<p>Instituto</p>

<h3>Fundación📅</h3>
<p>El Club Atlético Belgrano es un club deportivo de la ciudad de Córdoba en Argentina. Fue fundado oficialmente un lunes 19 de marzo de 1905 por un grupo de niños y una mujer adulta. Recibe su nombre en honor al general Manuel Belgrano, prócer creador de la bandera de la Argentina</p>

<h3>Jugadores destacados👤</h3>
<p> Julio César Villagra, Juan Carlos Heredia, Tomás Rodolfo Cuellar, Luis Fabián Artime, Luis Ernesto Sosa, Guillermo Martín Farré, César Pereyra, César Mansanelli, Mariano Campodónico y Juan Carlos Olave</p>


<h3>Equipaciones🎽</h3>
<!--con DIV hacemos que todas las imágenes se muestren una al lado de la otra-->
<div>
    <img src="{% static 'cami_belgrano.webp' %}" alt="" width="350">
    <img src="{% static 'cami_belgrano2.webp' %}" alt="" width="350">

</div>


<h3>Estadio🏟️</h3>
<p>	Estadio Julio César Villagra (Gigante de Alberdi)</p>
<img src="{% static 'estadio_belgrano.jpg' %}" alt="" width="350">

<h3>Goleadores Históricos⚽</h3>
<h5>Luis Artime: 94</h5>
<h5>Pablo Vegetti: 60</h5>
<h5>Abel Blasón: 58</h5>