{% load static %}

<h1>Boca Juniors</h1>
<img src="{% static 'Boca.png' %}" alt="" width="150">

<h3>Apodos🖋</h3>
<p>Xeneize</p>
<p>Azul y Oro</p>
<p>La Mitad más Uno</p>

<h3>Clásico Rival⚔️</h3>
<p>River Plate</p>

<h3>Fundación📅</h3>
<p>El Club Atlético Boca Juniors es una entidad deportiva argentina, con sede en el barrio de La Boca, Buenos Aires. Fue fundado el 3 de abril de 1905 por seis vecinos adolescentes hijos de italianos</p>

<h3>Jugadores destacados👤</h3>
<p> Julio César Villagra, Juan Carlos Heredia, Tomás Rodolfo Cuellar, Luis Fabián Artime, Luis Ernesto Sosa, Guillermo Martín Farré, César Pereyra, César Mansanelli, Mariano Campodónico y Juan Carlos Olave</p>


<h3>Equipaciones🎽</h3>
<!--con DIV hacemos que todas las imágenes se muestren una al lado de la otra-->
<div>
    <img src="{% static 'cami_boca.avif' %}" alt="" width="350">
    <img src="{% static 'cami_boca2.avif' %}" alt="" width="350">
    <img src="{% static 'cami_boca3.avif' %}" alt="" width="350">

</div>


<h3>Estadio🏟️</h3>
<p>	Estadio Alberto J. Armando (La Bombonera)</p>
<img src="{% static 'estadio_boca.jpg' %}" alt="" width="350">

<h3>Goleadores Históricos⚽</h3>
<h5>Martín Palermo: 236</h5>
<h5>Roberto Cherro: 221</h5>
<h5>Francisco Varallo: 194</h5>