
{% load static %}

<h2>Estos son los equipos participantes: </h2>

<nav>
    <ul>
        <li><a href="{% url 'argentinos' %}">Argentinos Juniors</a></li>
        <img src="{% static 'Argentinos.png' %}" alt="" width="20">

        <li><a href="{% url 'arsenal' %}">Arsenal de Sarandí</a></li>
        <img src="{% static 'Arsenal.png' %}" alt="" width="28">

        <li><a href="{% url 'tucuman' %}">Atlético Tucumán</a></li>
        <img src="{% static 'Tucuman.png' %}" alt="" width="20">

        <li><a href="{% url 'banfield' %}">Banfield</a></li>
        <img src="{% static 'Banfield.png' %}" alt="" width="20">

        <li><a href="{% url 'barracas' %}">Barracas Central</a></li>
        <img src="{% static 'Barracas.png' %}" alt="" width="20">

        <li><a href="{% url 'belgrano' %}">Belgrano</a></li>
        <img src="{% static 'Belgrano.png' %}" alt="" width="20">

        <li><a href="{% url 'boca' %}">Boca Juniors</a></li>
        <img src="{% static 'Boca.png' %}" alt="" width="20">

        <li><a href="{% url 'centralcordoba' %}">Central Córdoba</a></li>
        <img src="{% static 'Centralcordoba.png' %}" alt="" width="20">

        <li><a href="{% url 'colon' %}">Colón</a></li>
        <img src="{% static 'Colon.png' %}" alt="" width="20">

        <li><a href="{% url 'defensa' %}">Defensa y Justicia</a></li>
        <img src="{% static 'Defensa.png' %}" alt="" width="20">

        <li><a href="{% url 'estudiantes' %}">Estudiantes</a></li>
        <img src="{% static 'Estudiantes.png' %}" alt="" width="20">

        <li><a href="{% url 'gimnasia' %}">Gimnasia y Esgrima</a></li>
        <img src="{% static 'Gimnasia.png' %}" alt="" width="20">

        <li><a href="{% url 'godoycruz' %}">Godoy Cruz</a></li>
        <img src="{% static 'Godoycruz.png' %}" alt="" width="20">

        <li><a href="{% url 'huracan' %}">Huracán</a></li>
        <img src="{% static 'Huracan.png' %}" alt="" width="20">

        <li><a href="{% url 'independiente' %}">Independiente</a></li>
        <img src="{% static 'Independiente.png' %}" alt="" width="20">

        <li><a href="{% url 'instituto' %}">Instituto</a></li>
        <img src="{% static 'Instituto.png' %}" alt="" width="20">

        <li><a href="{% url 'lanus' %}">Lanús</a></li>
        <img src="{% static 'Lanus.png' %}" alt="" width="20">

        <li><a href="{% url 'newells' %}">Newell's Old Boys</a></li>
        <img src="{% static 'Newells.png' %}" alt="" width="20">

        <li><a href="{% url 'platense' %}">Platense</a></li>
        <img src="{% static 'Platense.png' %}" alt="" width="20">

        <li><a href="{% url 'racing' %}">Racing Club</a></li>
        <img src="{% static 'Racing.png' %}" alt="" width="20">

        <li><a href="{% url 'river' %}">River Plate</a></li>
        <img src="{% static 'River.png' %}" alt="" width="20">

        <li><a href="{% url 'rosario' %}">Rosario Central</a></li>
        <img src="{% static 'Rosario.png' %}" alt="" width="20">

        <li><a href="{% url 'sanlorenzo' %}">San Lorenzo</a></li>
        <img src="{% static 'Sanlorenzo.png' %}" alt="" width="20">

        <li><a href="{% url 'sarmiento' %}">Sarmiento</a></li>
        <img src="{% static 'Sarmiento.png' %}" alt="" width="20">

        <li><a href="{% url 'talleres' %}">Talleres</a></li>
        <img src="{% static 'Talleres.png' %}" alt="" width="20">

        <li><a href="{% url 'tigre' %}">Tigre</a></li>
        <img src="{% static 'Tigre.png' %}" alt="" width="20">

        <li><a href="{% url 'union' %}">Unión</a></li>
        <img src="{% static 'Union.png' %}" alt="" width="20">

        <li><a href="{% url 'velez' %}">Vélez Sarsfield</a></li>
        <img src="{% static 'Velez.png' %}" alt="" width="20">

    </ul>
</nav>



