{% load static %}

<h1>Club Atlético Colón</h1>
<img src="{% static 'Colon.png' %}" alt="" width="150">

<h3>Apodos🖋</h3>
<p>Sabalero</p>
<p>El Negro</p>

<h3>Clásico Rival⚔️</h3>
<p>Unión</p>

<h3>Fundación📅</h3>
<p>El Club Atlético Colón es un club deportivo de la ciudad de Santa Fe, Argentina, fundado el 5 de mayo de 1905. Además posee un equipo alternativo que disputa la Liga Santafesina de Fútbol desde 1948, conformado por jugadores amateurs</p>

<h3>Jugadores destacados👤</h3>
<p>Iván Moreno y Fabianesi, Leonardo Burián, Ernesto Álvarez, Héctor López, Ruben Ramírez, Javier Delgado, Marcelo Saralegui, etc</p>


<h3>Equipaciones🎽</h3>
<!--con DIV hacemos que todas las imágenes se muestren una al lado de la otra-->
<div>
    <img src="{% static 'cami_colon.jpg' %}" alt="" width="350">
    <img src="{% static 'cami_colon2.jpg' %}" alt="" width="350">
   
</div>


<h3>Estadio🏟️</h3>
<p>	Estadio Brigadier General Estanislao López (Cementerio de los Elefantes)</p>
<img src="{% static 'estadio_colon.jpg' %}" alt="" width="350">

<h3>Goleadores Históricos⚽</h3>
<h5>Esteban Fuertes: 144</h5>
<h5>José Canteli: 103</h5>
<h5>Edgardo Di Meola: 70</h5>