{% load static %}

<h1>Defensa y Justicia</h1>
<img src="{% static 'Defensa.png' %}" alt="" width="150">

<h3>Apodos🖋</h3>
<p>Halcón de Varela</p>

<h3>Clásico Rival⚔️</h3>
<p>Quilmes</p>
<p>Berazategui</p>
<p>Arsenal</p>

<h3>Fundación📅</h3>
<p>El Club Social y Deportivo Defensa y Justicia, más conocido como Defensa y Justicia o simplemente Defensa, es una entidad polideportiva de Argentina cuya sede se encuentra situada en la ciudad de Florencio Varela sobre la zona sur del Gran Buenos Aires. La institución fue fundada el 20 de marzo de 1935</p>

<h3>Jugadores destacados👤</h3>
<p>Brian Fernández, Gabriel Arias, Juan Martín Lucero, Marcelo Benítez, Adonis Frias, Brian Romero, Ezequiel Unsain, Washington Camacho</p>


<h3>Equipaciones🎽</h3>
<!--con DIV hacemos que todas las imágenes se muestren una al lado de la otra-->
<div>
    <img src="{% static 'cami_defensa.webp' %}" alt="" width="350">
    <img src="{% static 'cami_defensa3.webp' %}" alt="" width="350">
    <img src="{% static 'cami_defensa2.webp' %}" alt="" width="350">
</div>


<h3>Estadio🏟️</h3>
<p>Estadio Norberto Tomaghello</p>
<img src="{% static 'estadio_defensa.jpg' %}" alt="" width="350">

<h3>Goleadores Históricos⚽</h3>
<h5>Juan Carlos Moles: 113</h5>
<h5>Francisco Bartelemi: 72</h5>
<h5>Rubén Stefanutti: 71</h5>