{% load static %}

<h1>Estudiantes de La Plata</h1>
<img src="{% static 'Estudiantes.png' %}" alt="" width="150">

<h3>Apodos🖋</h3>
<p>Pincharrata</p>
<p>León</p>

<h3>Clásico Rival⚔️</h3>
<p>Gimnasia de La Plata</p>

<h3>Fundación📅</h3>
<p>El Club Estudiantes de La Plata es una entidad polideportiva ubicada en la ciudad de La Plata, provincia de Buenos Aires, Argentina. Fue fundado como club de fútbol el 4 de agosto de 1905</p>

<h3>Jugadores destacados👤</h3>
<p>Miguél Ángel Russo, Abel Herrera, Carlos Bilardo, Mariano Andújar, Leandro Desábato, Rodrigo Braña, Mauro Boselli, Juan Sebastián Verón</p>


<h3>Equipaciones🎽</h3>
<!--con DIV hacemos que todas las imágenes se muestren una al lado de la otra-->
<div>
    <img src="{% static 'cami_estudiantes.webp' %}" alt="" width="350">
    <img src="{% static 'cami_estudiantes2.webp' %}" alt="" width="350">
    <img src="{% static 'cami_estudiantes3.webp' %}" alt="" width="350">
</div>


<h3>Estadio🏟️</h3>
<p>Estadio Jorge Luis Hirschi (Estadio UNO)</p>
<img src="{% static 'estadio_estudiantes.jpg' %}" alt="" width="350">

<h3>Goleadores Históricos⚽</h3>
<h5>Manuel Pelegrina: 226</h5>
<h5>Alberto Zozaya: 197</h5>
<h5>Ricardo Infante: 191</h5>