{% load static %}

<h1>Gimnasia y Esgrima de La Plata</h1>
<img src="{% static 'Gimnasia.png' %}" alt="" width="150">

<h3>Apodos🖋</h3>
<p>Lobo</p>
<p>Tripero</p>

<h3>Clásico Rival⚔️</h3>
<p>Estudiantes de La Plata</p>

<h3>Fundación📅</h3>
<p>El Club de Gimnasia y Esgrima La Plata es una institución deportiva ubicada en la ciudad de La Plata, provincia de Buenos Aires, Argentina, fundada el 3 de junio de 1887</p>

<h3>Jugadores destacados👤</h3>
<p>Guillermo Barros Schelotto, Jorge San Esteban, Lucas Licht, Oscar Montañez, Guillermo Sanguinetti, Ismael Morgada, Diego Bayo, Gabino Arregui</p>


<h3>Equipaciones🎽</h3>
<!--con DIV hacemos que todas las imágenes se muestren una al lado de la otra-->
<div>
    <img src="{% static 'cami_gimnasia.webp' %}" alt="" width="350">
    <img src="{% static 'cami_gimnasia2.jpg' %}" alt="" width="300">
</div>


<h3>Estadio🏟️</h3>
<p>Estadio Juan Carmelo Zerillo (Estadio del Bosque)</p>
<img src="{% static 'estadio_gimnasia.webp' %}" alt="" width="350">

<h3>Goleadores Históricos⚽</h3>
<h5>Arturo Naón: 100</h5>
<h5>Ismael Morgada: 98</h5>
<h5>Manuel Fidel: 80</h5>