{% load static %}

<h1>Godoy Cruz</h1>
<img src="{% static 'Godoycruz.png' %}" alt="" width="150">

<h3>Apodos🖋</h3>
<p>Tomba</p>
<p>Bodeguero</p>

<h3>Clásico Rival⚔️</h3>
<p>Andes Talleres Sport Club</p>
<p>Independiente Rivadavia</p>
<p>San Martín de San Juan</p>

<h3>Fundación📅</h3>
<p>El Club Deportivo Godoy Cruz Antonio Tomba es una institución deportiva de la ciudad homónima del Gran Mendoza, provincia de Mendoza, Argentina. Fue fundado el 1 de junio de 1921 con el nombre de Club Sportivo Godoy Cruz, aunque adoptó su actual nombre el 26 de septiembre de 1933, luego de fusionarse con el Club Bodega Antonio Tomba, entidad que fue fundada en 1899 por los obreros de la histórica bodega con el auspicio de Antonio Tomba</p>

<h3>Jugadores destacados👤</h3>
<p>José García, Domingo Godoy, Osvaldo Camargo, Sandro De Luca, Enzo Pérez, Diego Villar, Sebastián Torrico, Mariano Donda, Nicolás Olmedo, Leonardo Sigali, Santiago García</p>


<h3>Equipaciones🎽</h3>
<!--con DIV hacemos que todas las imágenes se muestren una al lado de la otra-->
<div>
    <img src="{% static 'cami_godoycruz.jpg' %}" alt="" width="350">
    <img src="{% static 'cami_godoycruz2.jpg' %}" alt="" width="350">
</div>


<h3>Estadio🏟️</h3>
<p>Estadio Malvinas Argentinas</p>
<img src="{% static 'estadio_godoycruz.jpg' %}" alt="" width="350">

<h3>Goleadores Históricos⚽</h3>
<h5>Juan Abaurre: 107</h5>
<h5>Santiago García: 51</h5>
<h5>Daniel Giménez: 37</h5>