
{% load static %}

<h1>Liga Argentina de Fútbol</h1>
<div>
    <img src="{% static 'logo.png' %}" alt="" width="350">
    <img src="{% static 'pelota.webp' %}" alt="" width="200">
</div>


<p>La Primera División de Argentina es el torneo de la primera categoría del fútbol masculino argentino, organizado desde 1893 por la Asociación del Fútbol Argentino, excepto entre las temporadas 2017-18 y 2019-20, cuando fue regido por la Superliga Argentina. Disuelta esta, la Asociación creó el órgano interno denominado Liga Profesional de Fútbol Argentino, a través del cual retomó su conducción. Es el máximo escalón del sistema de competiciones del fútbol masculino en el país.</p>

<p>En el campeonato 2023, el tercero a cargo de la Liga Profesional, participan veintiocho equipos, los que son presentados por clubes, asociaciones civiles sin fines de lucro (aunque desde el 2000 puede darse la situación de que el equipo esté administrado por una empresa privada, en representación y con la aprobación del club respectivo). El torneo se disputa con el formato de una sola rueda de veintisiete fechas, en la que se enfrentan todos contra todos. Consagra un campeón y suma para los descensos que se producirían al final de la temporada</p>

<div>
    <img src="{% static 'Argentinos.png' %}" alt="" width="22">
    <img src="{% static 'Arsenal.png' %}" alt="" width="24">
    <img src="{% static 'Banfield.png' %}" alt="" width="15">
    <img src="{% static 'Barracas.png' %}" alt="" width="20">
    <img src="{% static 'Belgrano.png' %}" alt="" width="20">
    <img src="{% static 'Boca.png' %}" alt="" width="20">
    <img src="{% static 'Centralcordoba.png' %}" alt="" width="20">
    <img src="{% static 'Colon.png' %}" alt="" width="20">
    <img src="{% static 'Defensa.png' %}" alt="" width="20">
    <img src="{% static 'Estudiantes.png' %}" alt="" width="17">
    <img src="{% static 'Gimnasia.png' %}" alt="" width="20">
    <img src="{% static 'Godoycruz.png' %}" alt="" width="20">
    <img src="{% static 'Huracan.png' %}" alt="" width="16">
    <img src="{% static 'Independiente.png' %}" alt="" width="20">
    <img src="{% static 'Instituto.png' %}" alt="" width="20">
    <img src="{% static 'Lanus.png' %}" alt="" width="23">
    <img src="{% static 'Newells.png' %}" alt="" width="20">
    <img src="{% static 'Platense.png' %}" alt="" width="20">
    <img src="{% static 'Racing.png' %}" alt="" width="20">
    <img src="{% static 'Tucuman.png' %}" alt="" width="20">
    <img src="{% static 'River.png' %}" alt="" width="20">
    <img src="{% static 'Rosario.png' %}" alt="" width="20">
    <img src="{% static 'Sanlorenzo.png' %}" alt="" width="20">
    <img src="{% static 'Sarmiento.png' %}" alt="" width="20">
    <img src="{% static 'Talleres.png' %}" alt="" width="20">
    <img src="{% static 'Tigre.png' %}" alt="" width="20">
    <img src="{% static 'Union.png' %}" alt="" width="23">
    <img src="{% static 'Velez.png' %}" alt="" width="20">
</div>


<nav>
    <ul>
        <li><a href="{% url 'clubes' %}">Equipos Participantes</a></li>
        <li><a href="{% url 'records' %}">Records Históricos</a></li>
        <li><a href="{% url 'afa' %}">AFA</a></li>
    </ul>
</nav>


<h3>Trofeo y parche de campeón</h3>
<div>
    <img src="{% static 'trofeo.webp' %}" alt="" width="320">
    <img src="{% static 'parche.webp' %}" alt="" width="145">
</div>


<h3>Patrocinadores Oficiales</h3>
<div>
    <img src="{% static 'binance.jpg' %}" alt="" width="140">
    <img src="{% static 'ypf.jpg' %}" alt="" width="100">
    <img src="{% static 'quilmes.png' %}" alt="" width="100">
    <img src="{% static 'mcdonalds.webp' %}" alt="" width="100">
    <img src="{% static 'pedidosya.jpg' %}" alt="" width="110">
    <img src="{% static 'tcl.png' %}" alt="" width="140">
    <img src="{% static 'naldo.png' %}" alt="" width="140">
    <img src="{% static 'gatorade.jpg_large' %}" alt="" width="60">
    <img src="{% static 'banconacion.png' %}" alt="" width="110">

</div>





