{% load static %}

<h1>Huracán</h1>
<img src="{% static 'Huracan.png' %}" alt="" width="150">

<h3>Apodos🖋</h3>
<p>El Globo</p>
<p>Quemero</p>

<h3>Clásico Rival⚔️</h3>
<p>San Lorenzo</p>

<h3>Fundación📅</h3>
<p>El Club Atlético Huracán es una institución social y deportiva del barrio de Parque Patricios de la ciudad de Buenos Aires, Argentina. Fundado originalmente el 25 de mayo de 1903, en el barrio de Pompeya, fue reorganizado a partir del 1 de noviembre de 1908</p>

<h3>Jugadores destacados👤</h3>
<p> Guillermo Stábile, Alfredo Di Stéfano, Carlos Babington,  Alfio Basile,  René Houseman, Osvaldo Ardiles, Ramón Ábila, Patricio Toranzo, Javier Pastore</p>


<h3>Equipaciones🎽</h3>
<!--con DIV hacemos que todas las imágenes se muestren una al lado de la otra-->
<div>
    <img src="{% static 'cami_huracan.webp' %}" alt="" width="350">
    <img src="{% static 'cami_huracan2.webp' %}" alt="" width="350">
    <img src="{% static 'cami_huracan3.webp' %}" alt="" width="350">
</div>


<h3>Estadio🏟️</h3>
<p>Estadio Tomás Adolfo Ducó</p>
<img src="{% static 'estadio_huracan.jpg' %}" alt="" width="350">

<h3>Goleadores Históricos⚽</h3>
<h5>Herminio Masantonio: 270</h5>
<h5>Miguel Brindisi: 172</h5>
<h5>Emilio Baldonedo: 167</h5>