{% load static %}

<h1>Independiente</h1>
<img src="{% static 'Independiente.png' %}" alt="" width="150">

<h3>Apodos🖋</h3>
<p>El Rojo</p>
<p>Rey de Copas</p>

<h3>Clásico Rival⚔️</h3>
<p>Racing Club</p>

<h3>Fundación📅</h3>
<p>El Club Atlético Independiente, conocido simplemente como Independiente, es una entidad deportiva de Argentina de la ciudad de Avellaneda, situado en el sur del Gran Buenos Aires. Fue fundado el 1 de enero de 1905 por unos jóvenes empleados independentistas del Club Maipú</p>

<h3>Jugadores destacados👤</h3>
<p> Ricardo Bochini, Luis Ravaschino, Antonio Sastre, Vicente de la Mata, Daniel Montenegro, Claudio Marangoni, Daniel Bertoni, Sergio Agüero, Lucas Pusineri, Gabriel Milito</p>


<h3>Equipaciones🎽</h3>
<!--con DIV hacemos que todas las imágenes se muestren una al lado de la otra-->
<div>
    <img src="{% static 'cami_independiente.png' %}" alt="" width="350">
    <img src="{% static 'cami_independiente2.jpg' %}" alt="" width="330">
</div>


<h3>Estadio🏟️</h3>
<p>Estadio Libertadores de América</p>
<img src="{% static 'estadio_independiente.webp' %}" alt="" width="350">

<h3>Goleadores Históricos⚽</h3>
<h5> Arsenio Erico: 295</h5>
<h5>Manuel Seoane: 233</h5>
<h5> Vicente de la Mata: 152</h5>