{% load static %}

<h1>Lanús</h1>
<img src="{% static 'Lanus.png' %}" alt="" width="150">

<h3>Apodos🖋</h3>
<p>Granate</p>
<p>El dueño del Sur</p>

<h3>Clásico Rival⚔️</h3>
<p>Banfield</p>
<p>Talleres de Remedios de Escalada</p>
<p>Quilmes</p>

<h3>Fundación📅</h3>
<p>El Club Atlético Lanús es un club deportivo de Argentina. Fue fundado el 3 de enero de 1915 en la ciudad de Lanús, provincia de Buenos Aires, Argentina</p>

<h3>Jugadores destacados👤</h3>
<p>Lautaro Acosta, Fernando Monetti, Maximiliano Velázquez, Nicolás Pasquini, Agustín Marchesín, Matías Fritzler, Atilio Ducca, Bernardo Acosta Miranda, José Sand, Claudio Nigretti</p>


<h3>Equipaciones🎽</h3>
<!--con DIV hacemos que todas las imágenes se muestren una al lado de la otra-->
<div>
    <img src="{% static 'cami_lanus.png' %}" alt="" width="350">
    <img src="{% static 'cami_lanus2.png' %}" alt="" width="350">
</div>


<h3>Estadio🏟️</h3>
<p>Estadio Néstor Díaz Pérez (La Fortaleza)</p>
<img src="{% static 'estadio_lanus.jpg' %}" alt="" width="350">

<h3>Goleadores Históricos⚽</h3>
<h5>José Sand: 172</h5>
<h5>Luis Arrieta: 120</h5>
<h5>Gilmar Villagrán: 112</h5>