{% load static %}

<h1>Newell's Old Boys</h1>
<img src="{% static 'Newells.png' %}" alt="" width="150">

<h3>Apodos🖋</h3>
<p>Leprosos</p>

<h3>Clásico Rival⚔️</h3>
<p>Rosario Central</p>

<h3>Fundación📅</h3>
<p>El Club Atlético Newell’s Old Boys es un club deportivo de la ciudad de Rosario, Provincia de Santa Fe, Argentina. Fue fundado el 3 de noviembre de 1903, recibiendo su nombre en honor a Isaac Newell, fundador del Colegio Comercial Anglo Argentino (1884). Fundado por exalumnos de dicha institución, entre ellos el hijo de Isaac, Claudio Newell</p>

<h3>Jugadores destacados👤</h3>
<p> Oscar Cardozo, Gabriel Heinze, Maximiliano Rodríguez, Nahuel Guzmán, Pablo Pérez, Diego Armando Maradona, Abel Balbo, Alfredo Berti, Diego Mateo, Ariel Ortega, Ignacio Scocco, Rolando Schiavi, Roberto Sensini</p>


<h3>Equipaciones🎽</h3>
<!--con DIV hacemos que todas las imágenes se muestren una al lado de la otra-->
<div>
    <img src="{% static 'cami_newells.webp' %}" alt="" width="350">
    <img src="{% static 'cami_newells2.jpg' %}" alt="" width="360">
</div>


<h3>Estadio🏟️</h3>
<p>Estadio Marcelo Alberto Bielsa (El Coloso)</p>
<img src="{% static 'estadio_newells.jpg' %}" alt="" width="350">

<h3>Goleadores Históricos⚽</h3>
<h5>Víctor Rogelio Ramos: 104</h5>
<h5>Maximiliano Rodríguez: 99</h5>
<h5>Santiago Santamaría: 90</h5>