{% load static %}

<h1>Platense</h1>
<img src="{% static 'Platense.png' %}" alt="" width="150">

<h3>Apodos🖋</h3>
<p>El Calamar</p>

<h3>Clásico Rival⚔️</h3>
<p>Argentinos</p>
<p>Tigre</p>

<h3>Fundación📅</h3>
<p>El Club Atlético Platense es una entidad deportiva argentina. Tiene sedes sociales y deportivas tanto en Florida, partido de Vicente López (justo en el límite con la Ciudad Autónoma de Buenos Aires) como en el barrio de Saavedra, en la Comuna 12 de la ciudad de Buenos Aires. Fue fundado el 25 de mayo de 1905 en la ciudad de Buenos Aires</p>

<h3>Jugadores destacados👤</h3>
<p>Marcelo Espina, Claudio Spontón, Raúl Alfredo Cascini, Osvaldo Morelli, Enrique Topini, Gregorio Esperón, Antonio Campilongo, José Pérez, Jorge De Olivera, Hernan Lamberti, Facundo Curuchet</p>


<h3>Equipaciones🎽</h3>
<!--con DIV hacemos que todas las imágenes se muestren una al lado de la otra-->
<div>
    <img src="{% static 'cami_platense.webp' %}" alt="" width="350">
    <img src="{% static 'cami_platense2.webp' %}" alt="" width="360">
</div>


<h3>Estadio🏟️</h3>
<p>Estadio Ciudad de Vicente López</p>
<img src="{% static 'estadio_platense.jpg' %}" alt="" width="350">

<h3>Goleadores Históricos⚽</h3>
<h5>Daniel Vega: 86</h5>
<h5>Vicente Sayago: 75</h5>
<h5>Orlando Garro: 72</h5>