{% load static %}

<h1>Racing Club</h1>
<img src="{% static 'Racing.png' %}" alt="" width="150">

<h3>Apodos🖋</h3>
<p>La Academia</p>
<p>El Primer Grande</p>

<h3>Clásico Rival⚔️</h3>
<p>Independiente</p>

<h3>Fundación📅</h3>
<p>Racing Club, conocido popularmente como La Academia, es una entidad polideportiva con sede en Avellaneda, ciudad ubicada en el Gran Buenos Aires, Argentina. Fue fundado como club de fútbol el 25 de marzo de 1903, con la particular de ser el primer club argentino creado íntegramente por criollos</p>

<h3>Jugadores destacados👤</h3>
<p>Natalio Perinetti, Marcos Croce, Agustín Mario Cejas, Sergio Goycochea, Alfio Basile, Iván Pillud, Marcos Acuña, Diego Simeone, Gabriel Hauche, Lisandro López, Lautaro Martínez, Diego Milito</p>


<h3>Equipaciones🎽</h3>
<!--con DIV hacemos que todas las imágenes se muestren una al lado de la otra-->
<div>
    <img src="{% static 'cami_racing.webp' %}" alt="" width="350">
    <img src="{% static 'cami_racing2.webp' %}" alt="" width="350">
    <img src="{% static 'cami_racing3.webp' %}" alt="" width="350">
</div>


<h3>Estadio🏟️</h3>
<p>Estadio Presidente Perón (El Cilindro)</p>
<img src="{% static 'estadio_racing.jpg' %}" alt="" width="350">

<h3>Goleadores Históricos⚽</h3>
<h5>Alberto Ohaco: 244</h5>
<h5>Alberto Marcovecchio: 207</h5>
<h5>Albérico Zabaleta: 141</h5>