{% load static %}

<h1>River Plate</h1>
<img src="{% static 'River.png' %}" alt="" width="150">

<h3>Apodos🖋</h3>
<p>El Millonario</p>
<p>La Banda</p>

<h3>Clásico Rival⚔️</h3>
<p>Boca Juniors</p>

<h3>Fundación📅</h3>
<p>El Club Atlético River Plate es una entidad polideportiva de Argentina. Fue fundado el 25 de mayo de 1901 en el barrio de La Boca, tras la fusión de los clubes Santa Rosa y La Rosales, y su nombre proviene de la antigua denominación que se le daba en el inglés británico al Río de la Plata</p>

<h3>Jugadores destacados👤</h3>
<p>Ángel Labruna, Ariel Ortega, Amadeo Carrizo, Enzo Francescoli, Ramón Díaz, Leonardo Astrada, Marcelo Gallardo, Leonardo Ponzio, Norberto Alonso, Franco Armani, Juan Fernando Quintero</p>


<h3>Equipaciones🎽</h3>
<!--con DIV hacemos que todas las imágenes se muestren una al lado de la otra-->
<div>
    <img src="{% static 'cami_river.webp' %}" alt="" width="350">
    <img src="{% static 'cami_river2.avif' %}" alt="" width="350">
    <img src="{% static 'cami_river3.webp' %}" alt="" width="350">
</div>


<h3>Estadio🏟️</h3>
<p>Estadio Mâs Monumental (El Monumental)</p>
<img src="{% static 'estadio_river.jpg' %}" alt="" width="350">

<h3>Goleadores Históricos⚽</h3>
<h5>Ángel Labruna: 317</h5>
<h5>Oscar Más: 217</h5>
<h5>Bernabé Ferreyra: 202</h5>