{% load static %}

<h1>Rosario Central</h1>
<img src="{% static 'Rosario.png' %}" alt="" width="150">

<h3>Apodos🖋</h3>
<p>Los Canallas</p>

<h3>Clásico Rival⚔️</h3>
<p>Newells Old Boys</p>

<h3>Fundación📅</h3>
<p>El Club Atlético Rosario Central, conocido como Rosario, o simplemente Central, es una entidad deportiva argentina de la ciudad de Rosario, en la provincia de Santa Fe</p>

<h3>Jugadores destacados👤</h3>
<p>Edgardo Bauza, Miguel Antonio Juárez, Juan Antonio Pizzi, Rubén Bravo, Benjamín Santos, Roberto Gramajo, Juan Castro, Luciano Figueroa, Aldo Poy</p>


<h3>Equipaciones🎽</h3>
<!--con DIV hacemos que todas las imágenes se muestren una al lado de la otra-->
<div>
    <img src="{% static 'cami_rosario.webp' %}" alt="" width="350">
    <img src="{% static 'cami_rosario2.webp' %}" alt="" width="350">
    <img src="{% static 'cami_rosario3.webp' %}" alt="" width="350">
</div>


<h3>Estadio🏟️</h3>
<p>Estadio Gigante de Arroyito</p>
<img src="{% static 'estadio_rosario.jpg' %}" alt="" width="350">

<h3>Goleadores Históricos⚽</h3>
<h5>Marco Ruben: 105</h5>
<h5>Waldino Aguirre: 98</h5>
<h5>Mario Alberto Kempes: 94</h5>