{% load static %}

<h1>San Lorenzo</h1>
<img src="{% static 'Sanlorenzo.png' %}" alt="" width="150">

<h3>Apodos🖋</h3>
<p>El Ciclón</p>
<p>Los Cuervos</p>

<h3>Clásico Rival⚔️</h3>
<p>Huracán</p>

<h3>Fundación📅</h3>
<p>El Club Atlético San Lorenzo de Almagro, mayormente conocido como San Lorenzo de Almagro o simplemente San Lorenzo, es una entidad deportiva argentina con sede en el barrio de Boedo, Buenos Aires. Fue fundado el 1 de abril de 1908 por iniciativa de un grupo de jóvenes con la colaboración del sacerdote salesiano Lorenzo Massa</p>

<h3>Jugadores destacados👤</h3>
<p>Héctor Scotta, Alberto Acosta, Diego García, Bernardo Romeo, Juan Mercier, Leandro Romagnoli, Néstor Ortigoza, Claudio Biaggio, Néstor Gorosito, Jorge Olguín</p>


<h3>Equipaciones🎽</h3>
<!--con DIV hacemos que todas las imágenes se muestren una al lado de la otra-->
<div>
    <img src="{% static 'cami_sanlorenzo.webp' %}" alt="" width="350">
    <img src="{% static 'cami_sanlorenzo2.png' %}" alt="" width="350">
    <img src="{% static 'cami_sanlorenzo3.png' %}" alt="" width="300">
</div>


<h3>Estadio🏟️</h3>
<p>Estadio Pedro Bidegain (Nuevo Gasómetro)</p>
<img src="{% static 'estadio_sanlorenzo.jpg' %}" alt="" width="350">

<h3>Goleadores Históricos⚽</h3>
<h5>José Sanfilippo: 205</h5>
<h5>Rinaldo Martino: 142</h5>
<h5>Rodolfo Fischer: 141</h5>