{% load static %}

<h1>Sarmiento</h1>
<img src="{% static 'Sarmiento.png' %}" alt="" width="150">

<h3>Apodos🖋</h3>
<p>Verde</p>
<p>Kiwi</p>

<h3>Clásico Rival⚔️</h3>
<p>Club Atlético Mariano Moreno</p>
<p>Deportivo Morón</p>

<h3>Fundación📅</h3>
<p>El Club Atlético Sarmiento es una entidad deportiva de la ciudad de Junín, en el interior de la provincia de Buenos Aires, Argentina, fundada el 1 de abril de 1911</p>

<h3>Jugadores destacados👤</h3>
<p>Horacio Barrionuevo, Raúl Iglesias, Luciano Polo, Norberto Mastrangelo, Ezequiel Cerutti, Ricardo Gareca, Yamil Garnier, Daniel Passarella </p>


<h3>Equipaciones🎽</h3>
<!--con DIV hacemos que todas las imágenes se muestren una al lado de la otra-->
<div>
    <img src="{% static 'cami_sarmiento.jpg' %}" alt="" width="350">
    <img src="{% static 'cami_sarmiento2.jpg' %}" alt="" width="350">
</div>


<h3>Estadio🏟️</h3>
<p>Estadio Eva Perón</p>
<img src="{% static 'estadio_sarmiento.jpg' %}" alt="" width="350">

<h3>Goleador Histórico⚽</h3>
<h5>Ernesto Pelli: 128</h5>
