{% load static %}

<h1>Tigre</h1>
<img src="{% static 'Tigre.png' %}" alt="" width="150">

<h3>Apodos🖋</h3>
<p>Matador de Victoria</p>
<p>Azules del Norte</p>

<h3>Clásico Rival⚔️</h3>
<p>Platense</p>


<h3>Fundación📅</h3>
<p>El Club Atlético Tigre, es una centenaria entidad deportiva ubicada en la Zona Norte del Gran Buenos Aires, más precisamente en Victoria, partido de San Fernando, Buenos Aires, Argentina. Su nombre proviene de la ciudad de Tigre, donde fue fundado por un grupo de jóvenes liderados por José Dellagiovanna, el 3 de agosto de 1902</p>


<h3>Jugadores destacados👤</h3>
<p>Omar Palma, Norberto Perea, Lucas Wilchez, Diego Morales, Carlos Luna, Juan Carlos Sánchez, Diego Menossi, Mateo Retegui, Patricio Galmarini</p>


<h3>Equipaciones🎽</h3>
<!--con DIV hacemos que todas las imágenes se muestren una al lado de la otra-->
<div>
    <img src="{% static 'cami_tigre.webp' %}" alt="" width="350">
    <img src="{% static 'cami_tigre2.webp' %}" alt="" width="350">
    <img src="{% static 'cami_tigre3.webp' %}" alt="" width="350">
</div>


<h3>Estadio🏟️</h3>
<p>Estadio José Dellagiovanna</p>
<img src="{% static 'estadio_tigre.jpeg' %}" alt="" width="350">

<h3>Goleadores Históricos⚽</h3>
<h5>Juan Carlos Sánchez: 150</h5>
<h5>Luis María Rodríguez: 110</h5>
<h5>Carlos Luna: 80</h5>