{% load static %}

<h1>Atlético Tucumán</h1>
<img src="{% static 'Tucuman.png' %}" alt="" width="150">

<h3>Apodos🖋</h3>
<p>El Gigante del Norte</p>
<p>El Decano</p>

<h3>Clásico Rival⚔️</h3>
<p>San Martín de Tucumán</p>

<h3>Fundación📅</h3>
<p>El Club Atlético Tucumán, conocido popularmente como Atlético Tucumán (o simplemente Atlético) es un club deportivo argentino fundado en San Miguel de Tucumán, (en la Provincia de Tucumán) el 27 de septiembre de 1902</p>

<h3>Jugadores destacados👤</h3>
<p>Luis Miguel Rodríguez, Julio Villa, Raúl Campi, Julio Barreto, Antonio Tejerina, Santiago Michal, Juan Castro, Horacio Santillán, Julio Villafañe, Cristián Lucchetti, Guillermo Acosta</p>


<h3>Equipaciones🎽</h3>
<!--con DIV hacemos que todas las imágenes se muestren una al lado de la otra-->
<div>
    <img src="{% static 'cami_tucuman.webp' %}" alt="" width="350">
    <img src="{% static 'cami_tucuman_s.webp' %}" alt="" width="350">
    <img src="{% static 'cami_tucuman_3.webp' %}" alt="" width="350">

</div>


<h3>Estadio🏟️</h3>
<p>	Estadio Monumental Presidente José Fierro</p>
<img src="{% static 'estadio_tucuman.png' %}" alt="" width="350">

<h3>Goleadores Históricos⚽</h3>
<h5>Santiago Michal: 209</h5>
<h5>Luis Miguel Rodriguez: 130</h5>
<h5>Juan Castro: 119</h5>