{% load static %}

<h1>Vélez Sarsfield</h1>
<img src="{% static 'Velez.png' %}" alt="" width="150">

<h3>Apodos🖋</h3>
<p>El Fortín</p>
<p>La V Azulada</p>

<h3>Clásico Rival⚔️</h3>
<p>Ferro</p>
<p>Argentinos Juniors</p>

<h3>Fundación📅</h3>
<p>El Club Atlético Vélez Sarsfield es una entidad deportiva de Argentina con sede en el barrio de Liniers, Buenos Aires. Fue fundado el 1 de enero de 1910</p>


<h3>Jugadores destacados👤</h3>
<p>José Luis Chilavert, Omar Asad, Roberto Trotta, Raúl Cardozo, Julio César Falcioni, Hernán Pellerano, Fabián Cubero, Lucas Pratto, Juan Manuel Martínez, Mauro Zárate</p>


<h3>Equipaciones🎽</h3>
<!--con DIV hacemos que todas las imágenes se muestren una al lado de la otra-->
<div>
    <img src="{% static 'cami_velez.webp' %}" alt="" width="350">
    <img src="{% static 'cami_velez2.webp' %}" alt="" width="350">
</div>


<h3>Estadio🏟️</h3>
<p>Estadio José Amalfitani</p>
<img src="{% static 'estadio_velez.jpg' %}" alt="" width="350">

<h3>Goleadores Históricos⚽</h3>
<h5>Carlos Bianchi: 206</h5>
<h5>Juan José Ferraro: 157</h5>